.level-selector{
  margin-top: 5px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  font-size: 22px;
  margin-right: 10px;
  font-family: monospace;
}

select{
  font-size: 18px;
  padding: 2.5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: monospace;
}